.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 64px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.piece::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('pieces.png');
  background-size: 800%;
  background-position: center;
  background-repeat: no-repeat;
}

.white.piece::before {
  background-position-y: 0%;
}

.black.piece::before {
  background-position-y: 100%;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 32px;
}

.white-timer, .black-timer {
  color: #fff;
  background-color: #000;
  padding: 8px;
  border-radius: 8px;
}
